.header-nav {
  display: none !important;
  border-bottom: 1px solid #ddd;
  padding: 10px 25px;
}

.select-nav {
  display: block !important;
}

.selected-text {
  font-weight: 700;
  font-size: 18px;
}

.image-gallery {
  width: 100%;
  padding: 20px;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;

  .grid-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 8px;
  }

  .grid-item:first-child {
    grid-column: span 2;
    grid-row: span 2 !important;
  }

  .grid-item:first-child .image-box {
    position: relative;
    height: 300px;
  }

  .grid-item:first-child .image-box img {
    height: 100% !important;
  }
}



.checkbox-label {
  display: none;
  position: absolute;
  top: 15px;
  left: 15px;
  padding: 5px;
  width: 18px;
  height: 18px;
}


.checkbox-input {
  display: none;
}


.image-box {
  position: relative;
  height: 150px;

}



.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  background: rgba(0, 0, 0, 0)
}

.image-box:hover .image-overlay {
  background: rgba(0, 0, 0, 0.357)
}


.grid-item:hover .checkbox-label {
  display: block;
  width: 18px;
  height: 18px;

}


.selected {
  background: rgba(0, 0, 0, 0.285)
}

.selected-input {
  display: block;
}

.grid-item img {
  display: block;
  width: 100% !important;
  height: 100%;
  transition: transform 0.2s;
}

.grid-item.featured {
  grid-column: span 2;
}

.grid-item.featured img {
  transform: scale(1.1);
}

.delete-btn {
  color: rgb(255, 21, 0);
  border: none;
  background: none;
  font-weight: 600;
}

.dragging {
  opacity: 0.5;
  border: 2px dashed #000;
}

.drop-area {
  border: 2px dashed rgb(184, 184, 184);
  height: 160px;
  width: 160px;
  margin-top: 1.5rem;
  text-align: center;
  border-radius: 8px;
  position: relative;
}

.drop-area p {
  font-size: 15px !important;
  margin-top: 10px;
}

.add-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.drop-inner {
  margin-top: 35%;
}

.drop-area p {
  font-weight: 600;
}